<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
    <string>Necesitamos la cámara para que puedas hacer fotos de tus animales y cultivos.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Necesitamos acceso a la galería para que puedas elegir fotos de tus productos.</string>
</dict>
</plist>
